body {
    margin: auto;
    background: #dddddd;
    font-style: #777777;
    font-family: Arial, Helvetica, sans-serif
}

.index {
    float: right;
    margin-right: 10px;
    list-style: none;
}

.contact {
    margin-right: 10px;
    float: right; 
    list-style: none;
}

.portfolio {
    margin-right: 10px;
    float: right;
    list-style: none;
}

.myname {
    float: left;
    align-self: auto;
    background: #4aaaa5;
}

.aboutkar {
    float: left;
    border-inline-end: mediumturquoise;
    margin-bottom: 20px;
    background-size: 50px;
}

.paragraph {
    margin-top: 20px;
    position: relative;
    clear: left;
}

header {
    background: #ffffff;
    border: #cccccc;
    padding: 20px;
    font-style: #4aaaa5;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#invisible {
    width: 960px;
    margin: 0 auto;
}

section {
        width: 960px;
        height: 250px;
        background-color: #fff;
        color: #333;
        margin:0 auto;
        margin-bottom: 40px;
    
}

footer {
    background: #666666;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

