body {
    margin: auto;
    background: #dddddd;
    font-style: #777777;
    font-family: Arial, Helvetica, sans-serif
}
.nav_bar {
    margin: auto;
    border-bottom: 1px solid #000000;
    width: 960px;

}

.nav_bar ul {
    padding: 10;
    list-style: none;
    text-align:center;
}

.nav-bar ul li {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px; 
}

header {
    background: #ffffff;
    border: #cccccc;
    padding: 20px;
    font-style: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

aside {
    border-bottom: #333;
    padding: 0px 20px 0px 20px;
  width: 960px;
  height: 25px;
  background-color: #fff;
  color: #333;
  margin:auto
}

section {
        width: 960px;
        height: 880px;
        background-color: #fff;
        color: #333;
        margin:10px 0 0 20px;
}

footer {
    background: #666666;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

